<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile_harpuneet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_Harpuneet">
        <activity android:name=".FragmentTask"></activity>
        <activity android:name=".LoginPage" />
        <activity android:name=".RegisterPage" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".Frame">

        </activity>
        <activity android:name=".ConstraintLayout" />
        <activity android:name=".RelativeLayout" />
        <activity android:name=".Linear2" />
        <activity android:name=".Linear" />
        <activity android:name=".Home" />
        <activity android:name=".Calculator" />
        <activity android:name=".Form" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>

